{% extends 'base.html.twig' %}

{% block title %}Hello Home{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-3xl font-bold underline">
            Hello world!
        </h1>
        <div class="wrapper-photo">


            <div>
                <img
                        src="{{ data_uri_thumbnail('media/2.jpg', 100, 75) }}"
                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                            src: asset('media/2.jpg') | imagine_filter('my_relative')
                        }) }}

                        width="200"
                        height="266.94"
                        alt=""/>
            </div>

            <div>
                <img
                        src="{{ data_uri_thumbnail('media/8.jpg', 100, 75) }}"
                        {{ stimulus_controller('symfony/ux-lazy-image/lazy-image', {
                            src: asset('media/8.jpg') | imagine_filter('my_relative')
                        }) }}

                        width="200"
                        height="306.77"
                        alt=""/>
            </div>

        </div>
        <div class="wrapper-text py-4">
            Hey this is a good PHP ever !!!
        </div>

    </div>
{% endblock %}
