{% extends 'base.html.twig' %}

{% block title %}Hello Home{% endblock %}

{% block body %}

<div class="container">
    <div data-controller="hello">
        <input data-hello-target="name" type="text">

        <button data-action="click->hello#greet">
            Greet
        </button>

        <span data-hello-target="output"></span>

        <div class="counter">
            <button data-action="click->hello#increment">Click to add</button>
            <div data-hello-target="count">0</div>
        </div>

    </div>
</div>
{% endblock %}
